section.homepage {
  background: #28292B;
  color: #FFF;
  position: relative;
  min-height: 100%;
  .intro {
    position: absolute;
    bottom:30px;
    right:70px;
    text-align: left;
    span.title {
      font-size: 6em;
      font-weight: 800;
      letter-spacing: -0.02em;
    }
    span.tagline {
      font-size: 1.5em;
    }
  }
}
