section.homepage {
  background-color: #28292B;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  position: relative;
  min-height: 100%;
  overflow: hidden;
  .intro {
    position: absolute;
    bottom:30px;
    right:70px;
    text-align: left;
    transform: translateY(30px);
    opacity: 0;
    transition: all .6s cubic-bezier(0, 0, 0, 0.98);
    transition-delay: .5s;
    @media @mobile {
      right: 30px;
      bottom: 10px;
    }
    h1.title {
      font-size: 5em;
      font-weight: 800;
      letter-spacing: -0.02em;
      display: block;
      line-height: 1em;
      margin: 0;
      @media @mobile {
        font-size: 4em;
        line-height: 1em;
      }
    }
    span.tagline {
      font-size: 1.3em;
      display: block;
    }
  }
  .homepage-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.3);
  }
}
