// main: ../style.less

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.no-pad {
    padding: 0;
}

.no-pad-l {
  padding-left: 0;
}

.no-pad-r {
  padding-right:0;
}

.margin-reset {
  margin: 0 -15px;
  @media @desktop {
    margin: 0;
  }
}

.no-marg {
  margin:0 !important;
}




.transition {
    transition: all .2s ease;
}
